<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd">




    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="Goku.Webservice-Webapi" owner="programmer"  />

    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <!-- dubbo协议的包 -->
    <dubbo:annotation package="com.goku.webapi.handler" />

    <dubbo:reference id="loginService" interface="com.goku.service.loginService"/>

    <!-- shiro配置相关 -->
    <import resource="spring/spring-shiro.xml" />

    <!-- redis配置相关 -->
    <import resource="spring/spring-redis.xml" />

</beans>