<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goku.mapper.ext.sysUserExtMapper">
    <resultMap id="BaseResultExtMap" type="com.goku.model.sysUser">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="status" jdbcType="CHAR" property="status" />
        <result column="org_id" jdbcType="VARCHAR" property="orgId" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="idcard" jdbcType="VARCHAR" property="idcard" />
        <result column="is_admin" jdbcType="VARCHAR" property="isAdmin" />
        <result column="sort" jdbcType="BIGINT" property="sort" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    </resultMap>
    <sql id="Base_Ext_Column_List">
        id, username, password, name, sex, status, org_id, email, idcard, is_admin, sort,
        mobile
    </sql>
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultExtMap">
        select
        <include refid="Base_Ext_Column_List" />
        from sys_user
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="validUser"  resultMap="BaseResultExtMap">
        select
        <include refid="Base_Ext_Column_List" />
        from sys_user
        where username = #{username,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
        and org_id = #{orgid,jdbcType=VARCHAR}
    </select>
    <select id="selectUserByOrgid"  resultType="java.util.HashMap">
        select  username,password from sys_user where org_id = #{orgid,jdbcType=VARCHAR}
        <if test="orderFiled != null" >
            ORDER BY  ${orderFiled}
            <if test="orderSort != null" >
                ${orderSort}
            </if>
        </if>
    </select>
    <select id="selectUserByUsername"  resultType="java.util.HashMap">
        select  username,password from sys_user where username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>