<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">


    <bean class="com.goku.webapi.config.SwaggerConfig" />

    <!-- 自动扫描且只扫描@Controller -->
    <context:component-scan base-package="com.goku.webapi.controller"> </context:component-scan>

    <!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL -->
    <mvc:default-servlet-handler />


    <!-- 消息转化器 -->
    <!-- JSON支持，避免IE执行AJAX时,返回JSON出现下载文件 -->
    <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" >
        <property name= "supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value >
                <value>text/plain;charset=UTF-8</value >
                <value>application/json;charset=UTF-8</value >
            </list>
        </property>
        <property name="features">
            <array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
                <value>DisableCircularReferenceDetect</value>
            </array>
        </property>
    </bean >

    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter" >
        <constructor-arg value= "UTF-8"/>
        <property name= "supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value >
                <value>text/plain;charset=UTF-8</value >
            </list>
        </property>
    </bean >

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <ref bean= "stringHttpMessageConverter" />
            <ref bean= "fastJsonHttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven >

    <mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/"/>

</beans>
